/*font-family: 'Exo', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/


html {
	background-color: #222222;
}

body {
	font-family: sans-serif;
}

h1 {
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	text-align: left;
	color: #FFFFFF;
	line-height: 10pt;
	font-size: 30pt;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-align: left;
	color: #DDDDDD;
	font-size: 12pt;
	-webkit-margin-after: 0px;
}

div {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

sup {
	font-size: 50%;
	opacity: 0.5;
}

.detailVis {
	border: 1px dashed gray;
}

.state {
	stroke-width: 1px;
	fill: #444444;
	stroke: #666666;
}

.bar {
	fill: #CC3333;
	stroke: #AA0000;
}

.school {
	stroke-width: 1px;
	fill: #CCCCCC;
	stroke: #FFFFFF;
}

#headerArea {
	padding-top: 30px;
}