/*font-family: 'Exo', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/


html {
	background-color: #222222;
}

body {
	font-family: sans-serif;
}

p {
	font-weight: 700;
	color: #999999;
	-webkit-margin-before: 0pt;
	-webkit-margin-after: 0pt;
}

/* Used for the main header*/
h1 {
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	text-align: left;
	color: #FFFFFF;
	line-height: 10pt;
	font-size: 30pt;
}

/* Used for each section header */
h2 {
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	text-align: left;
	color: #FFFFFF;
	line-height: 18pt;
	font-size: 20pt;
	-webkit-margin-before: 0pt;
	-webkit-margin-after: 5pt;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-align: left;
	color: #DDDDDD;
	font-size: 12pt;
	-webkit-margin-after: 4pt;
	-webkit-margin-before: 0pt;
}

div {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

sup {
	font-size: 50%;
	opacity: 0.5;
}

table {
	border-spacing: 0px 2px;
	font-size: 10pt;
}
th {
	font-family: 'Roboto Slab', serif;
	background-color: #444444;
	text-align: right;
	padding: 4px;
}
td {
	font-family: 'Exo', sans-serif;
	background-color: #666666;
	text-align: left;
	padding: 4px;
}

/* styles used for the header */
#headerArea {
	padding-top: 5px;
}

/* styles used for the map*/
.state {
	stroke-width: 1px;
	fill: #444444;
	stroke: #666666;
}
.school {
	stroke-width: 1px;
	fill: #CCCCCC;
	stroke: #FFFFFF;
}
.thisSchool {
	stroke-width: 3px;
	fill: #CC3333;
	stroke: #FF3333;
}

/* styles used for all detailVis */
#detailVis {
	padding-left: 10px;
}
.detailVis {
	/*border: 1px dashed gray;
*/	padding-left: 10px;
	padding-right: 10px;
}
.detailVisHeader {
	font-family: 'Exo', serif;
	font-size: 14pt;
	font-weight: 700;
	fill: #FFFFFF;
}
.detailVisDetailText {
	font-family: 'Roboto Slab', serif;
	font-size: 10pt;
	font-weight: 400;
	fill: #FFFFFF;
}

.tooltip {
	background-color : black;
	color : white;
	position : absolute;
	z-index : 10;
	visibility : hidden;
}

/* styles used for all bar graphs */
.bar {
	fill: #CC3333;
}

/* styles used for the genderBar visualization*/
#genderBar {
	font-size: 10pt;
}
.maleBar {
	fill: #333333;
}
.femaleBar {
	fill: #777777;
}
.otherBar {
	fill: #CCCCCC;
}

.raceText,
.pieText {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 8pt;
	fill: #FFFFFF;
}

.axis line,
.axis path 
{
	shape-rendering: crispEdges;
	stroke: #FFFFFF;
	fill: none;
}

.tick
{
	fill: #FFFFFF;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 8pt;
}

#crimeXAxis path,
#financialXAxis path
{
	stroke: none !important;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.alertWindow rect {
	fill: #CC3333;
}
.alertWindow text {
	font-weight: 500;
	fill: #FFFFFF;
}